.stepdisney {
  background-color: red;
  height: 100vh;
}
.jose {
  background-color: red;
}

.benefits {
  max-width: 66rem;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 64px;
}
.pt-benedicios {
  padding-top: 32px;
}
.benefits__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 2rem;
}

.benefits__title-small {
  font-family: 'Prelo';
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #2c2c30;
  margin: 0;
}

.benefits__title-big {
  font-family: 'Prelo Slab';
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
  color: #0f265c;
  margin: 0;
}

.benefits__title-midium {
  font-family: 'Prelo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  color: #6e6e73;
  margin: 0;
}
