.stepdisney {
  background-color: red;
  height: 100vh;
}
.jose {
  background-color: red;
}

.benefits__multimediia__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 1rem 5rem 3.5rem;
}

.benefits__multimediia__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
}

.linkQuestion {
  font-family: 'Prelo';
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #2f7abf;
  text-decoration-line: none;
}

.linkQuestion:hover {
  text-decoration-line: underline;
}
